# tokio_unstable compile flag is necessary for tokio-console usage.
# see: https://docs.rs/console-subscriber/latest/console_subscriber/

[env]
# workaround for rustc 1.80 running out of stack space when building triton-vm
RUST_MIN_STACK = "33554432"

[build]
rustflags = ["--cfg", "tokio_unstable"]

[target.wasm32-unknown-unknown]
rustflags = [
  "--cfg", "getrandom_backend=\"wasm_js\"",
  "-C", "debuginfo=0",
  "-C", "strip=symbols",
]
